<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<head>
    <title>Add a new order</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="~{navigation :: navi(Home)}" />
<div>
    <form th:action="@{/orders/add}" th:method="POST">
        <table>
            <label for="name">Item Name:</label>
            <input type="text" th:field="${order.name}" id="name"/>
            <br/>
            <label for="price">Sale Price:</label>
            <input type="text" th:field="${order.salePrice}" id="price"/>
            <br/>
            <label for="quantity">Item Quantity:</label>
            <input type="text" th:field="${order.quantity}" id="quantity"/>
            <br/>
            <label for="date">Date of Sale:</label>
            <input type="date" th:field="${order.saleDate}" id="date"/>
            <br/>
            <label for="notes">Notes:</label>
            <input type="text" th:field="${order.notes}" id="notes"/>
            <br/>
            <label for="fullName">Customer Full Name:</label>
            <input type="text" th:field="${customer.fullName}" id="fullName"/>
            <br/>
            <label for="phoneNumber">Customer Phone Number:</label>
            <input type="text" th:field="${customer.phoneNumber}" id="phoneNumber"/>
            <br/>
            <label for="address">Customer Address:</label>
            <input type="text" th:field="${customer.address}" id="address"/>
            <br/>
            <input type="submit" value="Create order"/>
        </table>
    </form>
</div>
</body>
</html>