<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Spring Security Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h2>Welcome!</h2>
<div>
    <sec:authorize access="!isAuthenticated()">
        <h4><a th:href="@{/login}">Войти</a></h4>
        <h4><a th:href="@{/registration}">Зарегистрироваться</a></h4>
    </sec:authorize>
    <sec:authorize access="isAuthenticated()">
        <h4><a th:href="@{/logout}">Выйти</a></h4>
    </sec:authorize>
    <h4><a th:href="@{/news}">Новости (только пользователь)</a></h4>
    <h4><a th:href="@{/admin}">Пользователи (только админ)</a></h4>
</div>
</body>
</html>