<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/main}">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="~{navigation :: navi(Home)}" />
<div layout:fragment="content">
<form class="form-horizontal" th:action="@{/registration}" method="POST">
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Username:</label>
            <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="input-xlarge" required="required">
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge" required="required">
                <p class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="passwordConfirm">Confirm password:</label>
            <div class="controls">
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="" class="input-xlarge"
                       required="required">
                <p class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
</body>
<!--<div>-->
<!--    <form:form method="POST" modelAttribute="userForm">-->
<!--        <h2>Регистрация</h2>-->
<!--        <div>-->
<!--            <form:input type="text" path="username" placeholder="Username"-->
<!--                        autofocus="true"></form:input>-->
<!--            <form:errors path="username"></form:errors>-->
<!--            ${usernameError}-->
<!--        </div>-->
<!--        <div>-->
<!--            <form:input type="password" path="password" placeholder="Password"></form:input>-->
<!--        </div>-->
<!--        <div>-->
<!--            <form:input type="password" path="passwordConfirm"-->
<!--                        placeholder="Confirm your password"></form:input>-->
<!--            <form:errors path="password"></form:errors>-->
<!--            ${passwordError}-->
<!--        </div>-->
<!--        <button type="submit">Зарегистрироваться</button>-->
<!--    </form:form>-->
<!--    <a th:href="@{/}">Главная</a>-->
<!--</div>-->
<!--</body>-->
</html>