<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<head>
    <title>Add a new item</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="~{navigation :: navi(Home)}" />
<div>
    <form th:action="@{/items/add}" th:object="${item}" th:method="POST">
        <table>
            <label for="name">Enter Item Name:</label>
            <input type="text" th:field="*{name}" id="name"/>
            <br/>
            <label for="price">Enter Initial Item Price:</label>
            <input type="text" th:field="*{initialPrice}" id="price"/>
            <br/>
            <label for="quantity">Enter Item Quantity:</label>
            <input type="text" th:field="*{quantity}" id="quantity"/>
            <br/>
            <label for="date">Enter Date of Purchase:</label>
            <input type="date" th:field="*{dateOfPurchase}" id="date"/>
            <br/>
            <label for="notes">Enter Notes:</label>
            <input type="text" th:field="*{notes}" id="notes"/>
            <br/>
            <input type="submit" value="Create item"/>
        </table>
    </form>
</div>
</body>
</html>